@import url(https://fonts.googleapis.com/css2?family=Kanit&subset=thai,latin);

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"),
    url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraBGwCYdA.woff2)
      format("woff2");
}

body {
  font-family: "Kanit", sans-serif !important;
}

tr {
  background: white;
}

.bd-example {
  position: relative;
  padding: 1rem;
  /* margin: 1rem -15px 0; */
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0;
}

.btn-border-radius {
  border-radius: 20px !important;
}

.text-red {
  color: #e74a3b;
}
.text-green {
  color: #19821d;
}
.text-blue {
  color: #080071;
}
.text-black {
  color: #121212;
}

.input-parking-fee {
  border-radius: 34px;
  font-size: 53px;
}

.btn-excel {
  color: #fff !important;
  background-color: #1cc88a !important;
  border-color: #1cc88a !important;
}

.btn-barrier {
  color: #fff !important;
  background-color: #74543f !important;
  border-color: #74543f !important;
}

.btn-add-member {
  color: #fff !important;
  background-color: #f6c41d !important;
  border-color: #f6c41d !important;
}

.btn-edit-2 {
  color: #fff !important;
  background-color: #d49349 !important;
  border-color: #d49349 !important;
}

.btn-receipt {
  color: #fff !important;
  background-color: #463e3a !important;
  border-color: #463e3a !important;
  border-radius: 5px !important;
}

.btn-renew {
  color: #fff !important;
  background-color: #543c20 !important;
  border-color: #543c20 !important;
}

.floating-button {
  bottom: 40px;
  right: 60px;
  position: fixed;
  box-shadow: 2px 2px 3px #999;
}

.license-font {
  font-size: 4.1rem;
}

.bg-blue-login {
  background-color: #9ed5fe;
}

.bg-blue-modal {
  background-color: #d8e4f5;
}
.bg-label {
  margin: -1rem;
  padding: 10px;
  background: #d8e4f5;
  color: #363636;
}

.btn-success-2 {
  background-color: #55e23b !important;
  border-color: #55e23b !important;
  color: #fff !important;
}

.animate-car-left {
  margin-left: -18rem;
  position: relative;
}

.animate-label-car {
  margin-left: 325px;
  position: absolute;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login {
  width: 450px;
  overflow: hidden;
  padding: 30px 35px 30px 35px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-control-test {
  display: block;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  min-height: calc(1.5em + 0.75rem + 2px);
}

.header-title {
  font-size: calc(4vw + 4vh + 2vmin);
}
.body-title {
  font-size: calc(30vw + 4vh + 4vmin);
}
.picture-show {
  width: 100px;
}
.picture-show:hover {
  width: 12vw;
  height: auto;
  -webkit-transform: scale(4) rotate(0.01deg);
  transform: scale(4) rotate(0.01deg);
  z-index: 2000;
}

.col-print-1 {
  width: 8%;
  float: left;
}
.col-print-2 {
  width: 16%;
  float: left;
}
.col-print-3 {
  width: 25%;
  float: left;
}
.col-print-4 {
  width: 33%;
  float: left;
}
.col-print-5 {
  width: 42%;
  float: left;
}
.col-print-6 {
  width: 50%;
  float: left;
}
.col-print-7 {
  width: 58%;
  float: left;
}
.col-print-8 {
  width: 66%;
  float: left;
}
.col-print-9 {
  width: 75%;
  float: left;
}
.col-print-10 {
  width: 83%;
  float: left;
}
.col-print-11 {
  width: 92%;
  float: left;
}
.col-print-12 {
  width: 100%;
  float: left;
}

.footer-center {
  justify-content: center !important;
}

.modal-full {
  width: 100%;
}

/* --------------------------------------------------------------------------------------- */
.img-calc {
  width: calc(100% - 0px);
}
.img-calc-2 {
  width: calc(100% - 10px);
}
/* --------------------------------------------------------------------------------------- */
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  position: fixed;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 10px 0 0 0;
  white-space: nowrap;
  justify-content: flex-end;
}
/* --------------------------------------------------------------------------------------- */
#tabs {
  width: 100%;
  height: 100%;
}

.tab-switch {
  padding: 10px;
  background: #ececec;
  color: #fff;
  transition: all 0.25s ease;
  cursor: pointer;
  width: 15%;
  text-align: center;
  border-radius: 10px;
}

.active-switch {
  background: #1b3e6c;
  border-radius: 10px;
}

@keyframes fadeinanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-width {
  width: 800px !important;
}

.modal-content-jpark {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.modal-header-jpark {
  background: #1b3e6c;
  color: white;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.btn-close-white {
  background: black
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

.buttonTab {
  color: #ffffff;
  background-color: #333333;
}
.buttonTab.active {
  color: #333333;
  background-color: #ffffff;
}

.nav-tabs {
  border-bottom: 0 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
  color: #fff;
  background-color: #1b3e6c !important;
}

.nav-pills .nav-link::after {
  color: #fff;
  width: 100%;
  min-width: 100px;
  text-align: center;
  top: 0;
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
  border-radius: 20px;
  /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1); */
  height: 100%;
  z-index: 0;
}

.nav-pills .nav-link {
  color: #d6d6d6;
  background-color: #ececec;
  width: 100%;
  min-width: 100px;
  text-align: center;
  top: 0;
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
  border-radius: 20px;
  /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1); */
  height: 100%;
  z-index: 0;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------------------------------- */
.width-btn-month {
  flex: 0 0 auto;
  width: 24.25%;
}

.btn-check:active + .btn-outline-months,
.btn-check:checked + .btn-outline-months,
.btn-outline-months.active,
.btn-outline-months.dropdown-toggle.show,
.btn-outline-months:active {
  color: #fff;
  background-color: #4f4629;
  border-color: #4f4629;
}

.btn-outline-months {
  color: #7b7b7b;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  cursor: pointer;
}
