<!DOCTYPE html>
<html lang="en">

<head>
    {% include "comp/includecss.html" %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "comp/header.html" %}

                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-1.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่จอด</h6>
                                            <span class="h2 text-red">140</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-2.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่ว่าง</h6>
                                            <span class="h2 text-green">110</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-3.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">นาฬิกา</h6>
                                            <span class="h2 text-blue"><span id="timecurrent"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-5 text-center">
                            <!-- <img src="{{ url_for('video_feed', id='0') }}" width="520"> -->
                            <img src="{{ url_for('static', filename='image/car-test.jpg') }}" width="650">
                        </div>
                        <div class="col-lg-7 mt-2">
                            <div class="row g-2 mt-2">
                                <div class="col-md-12 text-blue text-center">
                                    <div class="row">
                                        <h5>ป้ายทะเบียนรถ</h5>
                                        <div class="col-2"></div>
                                        <div class="col-8">
                                            <div class="card shadow mb-2" style="border-radius: 34px;background: #f1f1f1;">
                                                <div class="card-body">
                                                    <span class="license-font">7กญ3603</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label for="province" class="col-form-label text-blue">จังหวัด</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-control" id="province" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label for="insert_date" class="col-form-label text-blue">เวลาเข้า</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-control" id="insert_date" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label for="car_type" class="col-form-label text-blue">ประเภทรถ</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-control" id="car_type" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label class="col-form-label text-blue">ค่าจอด<br>(รถจักรยานยนต์)</label>
                                            <input type="number" class="form-control" id="amount" value="{{amount}}" readonly hidden>
                                            <input type="hidden" name="original_amount" id="original_amount" value="{{amount}}">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-control" id="car_type" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-5">
                                    <hr>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label for="first_name" class="col-form-label text-blue">ชื่อ-นามสกุล</label>
                                            <!-- <p id="datalist" hidden></p> -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-control" name="first_name" id="livebox" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label for="member_type" class="col-form-label text-blue">ประเภทสมาชิก</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-control" id="member_type" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label for="expiry_date" class="col-form-label text-blue">วันที่หมดอายุ</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-control" id="expiry_date" readonly></div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery-->
    <script>
        var display = setInterval(function () { Time() }, 0);
        function Time() {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("timecurrent").innerHTML = time;
        }
    </script>

</body>

</html>