<!DOCTYPE html>
<html lang="en">

<head>
    <title>J-Parking Management</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% include "comp/includecss.html" %}
</head>

<style media="screen">
    .noPrint {
        display: block;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<style media="print">
    .noPrint {
        display: none;
    }

    .yesPrint {
        display: block !important;
    }
</style>

<body id="page-top">
    <div id="wrapper">
        {% include "comp/sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "comp/header.html" %}

                <div class="container-fluid">
                    <div class="row text-center" style="zoom:80%">
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-1.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่จอด</h6>
                                            <span class="h2 text-red">150</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-2.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่ว่าง</h6>
                                            <span class="h2 text-green">105</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-3.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">นาฬิกา</h6>
                                            <span class="h2 text-blue"><span id="timecurrent"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-5">
                            <img src="{{ url_for('video_feed', id='1') }}" class="img-calc">
                            <div class="row mt-2">
                                <div class="col">
                                    <img id="img_in" class="img-calc-2">
                                    <p class="text-center mb-0">รูปขาเข้า</p>
                                </div>
                                <div class="col">
                                    <img id="img_out" class="img-calc-2">
                                    <p class="text-center mb-0">รูปขาออก</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12 text-blue" style="zoom: 80%;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="first_name"
                                            class="col-form-label text-blue">ชื่อ-นามสกุล</label>
                                    </div>
                                    <div class="col-md-8 mb-3">
                                        <div class="form-control-test p" id="name_" style="background: #f1f1f1;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-blue" style="zoom: 80%;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="member_type"
                                            class="col-form-label text-blue">ประเภทสมาชิก</label>
                                    </div>
                                    <div class="col-md-8 mb-3">
                                        <div class="form-control-test p" id="mem_type" style="background: #f1f1f1;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="zoom: 80%;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="expiry_date"
                                            class="col-form-label text-blue">วันที่หมดอายุ</label>
                                    </div>
                                    <div class="col-md-8 mb-3">
                                        <div class="form-control-test p" id="expi" style="background: #f1f1f1;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7" style="zoom: 78%;">
                            <div class="row g-2">
                                <div class="col-md-6 text-center mt-4">
                                    <h5 class="text-blue">ป้ายทะเบียนรถ</h5>
                                    <!-- <p class="text-blue2" style="font-size: 5rem;">7กญ3603</p> -->
                                    <h3 class="text-blue2" style="font-size: 5rem;" id="license_plate"></h3>
                                    <div class="fw-normal" style="font-size: 1.5rem;margin-top: -1.5rem;" id="province"></div>
                                    <!-- <div class="fw-normal" style="font-size: 1.5rem;margin-top: -1.5rem;">กรุงเทพมหานคร</div> -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-2">
                                        <div class="form-control" id="timeIn" style="font-size: 1rem;border: 0;background: #f1f1f1;"></div>
                                        <label for="time_out">เวลาเข้า</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <div class="form-control" id="timeIn" style="font-size: 1rem;border: 0;background: #f1f1f1;"></div>
                                        <label for="time_out">เวลาออก</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <div class="form-control" id="total_time" style="font-size: 1rem;border: 0;background: #f1f1f1;"></div>
                                        <label for="insert_date">เวลาจอด</label>
                                    </div>
                                </div>
                                <div class="col-md-12 px-5 mb-0">
                                    <hr>
                                </div>
                                <form method="POST" id="form">
                                    <div class="col-md-12 text-blue">
                                        <div class="text-center">
                                            <label for="amount" class="form-label h5">ค่าจอดรถ</label>
                                            <div type="number" class="form-control input-parking-fee shadow" id="price" style="font-size: 3rem;
                                            color: #0800ff !important;">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-2">
                                                <input type="number" value="0" min="0" class="form-control input-field"
                                                    style="border: 3px solid #B4C8E2;" name="" id="">
                                                <label for="discount">เลขที่คูปอง</label>
                                            </div>
                                            <div class="form-floating mb-2">
                                                <input type="number" value="0" min="0" class="form-control input-field"
                                                    style="border: 3px solid #B4C8E2;" name="discount" id="discount">
                                                <label for="discount">คูปอง</label>
                                            </div>
                                            <div class="form-floating">
                                                <input type="number" value="0" min="0" class="form-control input-field"
                                                    style="border: 3px solid #B4C8E2;" name="fines" id="fines">
                                                <label for="fines">ค่าปรับ</label>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <span>
                                                    <input type="radio" class="btn-check2" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                                    <label class="btn-outline-money width-btn-money" for="btnradio1">เงินสด</label>
                                                </span>
                                                <span>
                                                    <input type="radio" class="btn-check2" name="btnradio" id="btnradio2" autocomplete="off">
                                                    <label class="btn-outline-money width-btn-money" for="btnradio2">Banking</label>
                                                </span>
                                                <span>
                                                    <input type="radio" class="btn-check2" name="btnradio" id="btnradio3" autocomplete="off">
                                                    <label class="btn-outline-money width-btn-money" for="btnradio3">True Money</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-blue">
                                            <div class="text-center">
                                                <label for="receieve" class="form-label h5">เงินที่ได้รับ</label>
                                                <input type="text" name="receieve" class="form-control shadow input-field"
                                                style="border-radius: 34px;border: 3px solid #B4C8E2;font-size: 2.75rem;" id="receieve"
                                                type="number" value="0" min="0">
                                            </div>
                                            <div class="text-center mt-2">
                                                <label for="changes" class="form-label h5">เงินทอน</label>
                                                <input type="text" class="form-control shadow"
                                                    style="border-radius: 34px;font-size: 2.75rem;" id="changes"
                                                    name="changes" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-2">
                                        <button type="submit" id="finish" class="btn btn-primary col-12 btn-lg" style="background-color: #E66767;
                                        border-color: #E66767;">ยืนยัน</button>
                                    </div>
                                </form>

                                <div class="col-md-12 text-blue mb-3">
                                    <div class="row">
                                        <div class="col-md-4 m-0 p-0">
                                            <a href="{{ url_for('receipt') }}" target="_blank" type="button"
                                                class="btn btn-primary floating-button">
                                                <i class="fas fa-print"></i> พิมพ์ใบเสร็จ
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Timeline JS-->
    <script type="text/javascript">

    //   $(function() { //คลิกยืนยัน
    //     $('#finish').on('click', function(e) {
    //       e.preventDefault()
    //       $.getJSON('/background_process_test',
    //           function(data) {
    //         //ฟังก์ชั่น /background_process_test ทำงาน
    //       });
    //       return false;
    //     });
    //   });


        var display = setInterval(function () { Time() }, 0);
        function Time() {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("timecurrent").innerHTML = time;
        }

        function showImage() {
            document.getElementById('loadingImage').style.visibility = document.getElementById('loadingImage').style.visibility == 'visible' ? 'hidden' : 'visible';
        }

        //Move the cursor to the next field and not submitting the form on enter
        $(document).ready(function () {
            $('.input-field').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    var index = $('.input-field').index(this) + 1;
                    $('.input-field').eq(index).focus();
                }
            });

            $(document).ready(function () {
                $('#fines, #discount, #receieve').on('keyup', function () {
                    var original = parseInt($('#original_amount').val());
                    var gate = parseInt($('#gate').val());
                    var fines = parseInt($('#fines').val());
                    var discount = parseInt($('#discount').val());
                    var receieve = parseInt($('#receieve').val());
                    var total = original + fines - discount;
                    var changes = receieve - total; +
                        $('#amount').val(total);
                    $('#changes').val(changes);
                })
            });
        });

        $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
            $("body").toggleClass("sidebar-toggled");
            $(".sidebar").toggleClass("toggled");
            if ($(".sidebar").hasClass("toggled")) {
                $('.sidebar .collapse').collapse('hide');
            };
        });
    </script>
</body>

<!-- รับ socket จาก port 7000 -->
<script id ="socket" src="http://localhost:7000/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
   
    <script type="text/javascript"  charset="utf-8">
    var licenP;
    var lp = document.getElementById("license_plate");
    var prov;
    var province = document.getElementById("province");
    var time;
    var timeIn = document.getElementById("timeIn");
    var totalT;
    var totaltime = document.getElementById("total_time");
    var imgOut;
    var img_out = document.getElementById("img_out");
    var imgIn;
    var img_in = document.getElementById("img_in");

    var name_ ;
    var name_mem = document.getElementById("name_"); //ชื่อลูกค้า
    var expi_;
    var expi = document.getElementById("expi");
    var memT;
    var memType = document.getElementById("mem_type")

    var price_;
    var price = document.getElementById("price");
    
    var ID_;
    var ID = document.getElementById("ID");

     var socket = io.connect('http://localhost:7000');
      socket.on('hi',function(data) {
        licenP= data.license_plate;
        lp.innerHTML = licenP;
        lp.innerHTML = lp.innerHTML;

        prov = data.province;
        province.innerHTML = prov;
        province.innerHTML =  province.innerHTML;

        time= data.time_in;
        timeIn.innerHTML = time;
        timeIn.innerHTML = timeIn.innerHTML;

        totalT = data.total_time;
        totaltime.innerHTML = totalT;
        totaltime.innerHTML = totaltime.innerHTML;

        imgOut = data.img_out;
        img_out.src = imgOut;
        img_out.src = img_out.src;
     
        imgIn = data.img_in;
        img_in.src = imgIn;
        img_in.src = img_in.src;

        /////////////////////////////
        name_ = data.name;
        name_mem.innerHTML = name_;
        name_mem.innerHTML=name_mem.innerHTML;

        expi_ = data.expi;
        expi.innerHTML = expi_;
        expi.innerHTML= expi.innerHTML;

        memT = data.memberType;
        memType.innerHTML = memT;
        memType.innerHTML = memType.innerHTML;

        price_ = data.price;
        price.innerHTML = price_;
        price.innerHTML  =  price.innerHTML ;

        ID_ = data.id;
        ID.innerHTML = ID_;
        ID.innerHTML =  ID.innerHTML;



      });
     

    </script>

</html>