<!DOCTYPE html>
<html lang="en">

<head>
    <title>J-Parking Management</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% include "comp/includecss.html" %}
</head>

<style media="screen">
    .noPrint {
        display: block;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<style media="print">
    .noPrint {
        display: none;
    }

    .yesPrint {
        display: block !important;
    }
</style>

<body id="page-top">
    <div id="wrapper">
        {% include "comp/sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "comp/header.html" %}

                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-1.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่จอด</h6>
                                            <span class="h2 text-red">{{total_car_status0}}</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-2.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่ว่าง</h6>
                                            <span class="h2 text-green">{{total_car}}</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-3.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">นาฬิกา</h6>
                                            <span class="h2 text-blue"><span id="timecurrent"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-5">
                            <img src="{{ url_for('video_feed', id='1') }}" class="img-calc">
                            <div class="row mt-2">
                                <div class="col">
                                    <img id="img_in" class="img-calc-2">
                                    <p class="text-center mb-0">รูปขาเข้า</p>
                                </div>
                                <div class="col">
                                    <img id="img_out" class="img-calc-2">
                                    <p class="text-center mb-0">รูปขาออก</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        <div class="col-lg-7 mt-2" style="zoom: 80%;">
                            <div class="row g-2 mt-2">
                                <div class="col-md-6 text-center">
                                    <h5 class="text-blue">ป้ายทะเบียนรถ</h5>
                                    <div class="form-control" id="license_plate"></div>
                                    <div class="fw-normal" id="province"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-2">
                                        <div class="form-control" id="timeIn"></div>
                                        <label for="time_out">เวลาเข้า</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <div type="text" class="form-control" id="total_time"></div>
                                        <label for="insert_date">เวลาจอด</label>
                                    </div>
                                </div>
                                <div class="col-md-12 px-5 mb-0">
                                    <hr>
                                </div>
                                <form class="row" method="POST" id="form">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="number" value="0" min="0" class="form-control input-field"
                                                style="border: 3px solid #B4C8E2;" name="discount" id="discount">
                                            <label for="discount">คูปอง</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="number" value="0" min="0" class="form-control input-field"
                                                style="border: 3px solid #B4C8E2;" name="fines" id="fines">
                                            <label for="fines">ค่าปรับ</label>
                                        </div>
                                        <div class="form-check my-2 mx-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                เงินสด
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-blue">
                                        <div class="text-center">
                                            <label for="amount" class="form-label h5">ค่าจอดรถ</label>
                                            <div type="number" class="form-control input-parking-fee shadow" id="price">
                                            </div>
                                            <input type="hidden" name="ID" id="ID" ><br>
                                            <input type="hidden" name="license" id="license" >
                                            <input type="hidden" name="time_in" id="time_in" >
                                            <input type="hidden" name="time_out" id="time_out" >
                                            <input type="hidden" name="time_total" id="time_total" >
                                            <input type="hidden" name="amount" id="amount" >

                                    </div>
                                    <div class="col-md-6 text-center text-blue">
                                        <label for="receieve" class="form-label h5">เงินที่ได้รับ</label>
                                        <input type="text" name="receieve" class="form-control shadow input-field"
                                            style="border-radius: 34px;border: 3px solid #B4C8E2;" id="receieve"
                                            type="number" value="0" min="0">
                                    </div>

                                    <div class="col-md-6 text-center text-blue">
                                        <label for="changes" class="form-label h5">เงินทอน</label>
                                        <input type="text" class="form-control shadow"
                                            style="border-radius: 34px;color: #F72C25 !important;" id="changes"
                                            name="changes" readonly>
                                        <button type="submit" id="finish" class="btn btn-primary btn-sm mt-2 col-4">ยืนยัน</button>
                                    </div>
                                </form>
                                <div class="col-md-12 px-5">
                                    <hr>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="first_name"
                                                class="col-form-label text-blue">ชื่อ-นามสกุล</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-control-test p" id="name_"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="member_type"
                                                class="col-form-label text-blue">ประเภทสมาชิก</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-control-test p" id="mem_type"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 text-blue mb-3">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="expiry_date"
                                                class="col-form-label text-blue">วันที่หมดอายุ</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-control-test p" id="expi"></div>
                                        </div>
                                        <div class="col-md-4 m-0 p-0">
                                            <a href="{{ url_for('receipt') }}" target="_blank" type="button"
                                                class="btn btn-primary floating-button">
                                                <i class="fas fa-print"></i> พิมพ์ใบเสร็จ
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Timeline JS-->
    <script type="text/javascript">

    //   $(function() { //คลิกยืนยัน
    //     $('#finish').on('click', function(e) {
    //       e.preventDefault()
    //       $.getJSON('/background_process_test',
    //           function(data) {
    //         //ฟังก์ชั่น /background_process_test ทำงาน
    //       });
    //       return false;
    //     });
    //   });


        var display = setInterval(function () { Time() }, 0);
        function Time() {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("timecurrent").innerHTML = time;
        }

        function showImage() {
            document.getElementById('loadingImage').style.visibility = document.getElementById('loadingImage').style.visibility == 'visible' ? 'hidden' : 'visible';
        }

        //Move the cursor to the next field and not submitting the form on enter
        $(document).ready(function () {
            $('.input-field').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    var index = $('.input-field').index(this) + 1;
                    $('.input-field').eq(index).focus();
                }
            });

            $(document).ready(function () {
                $('#fines, #discount, #receieve').on('keyup', function () {
                    var original = (parseInt(document.getElementById("price").innerHTML))
                    var fines = parseInt($('#fines').val());
                    var discount = parseInt($('#discount').val());
                    var receieve = parseInt($('#receieve').val());
                    console.log(fines , 'fines' , discount, 'discount' , receieve, 'receieve')
                    var total = original + fines - discount;
                    console.log(total, 'total')
                    var changes = receieve - total;
                    $('#changes').val(changes);
                })
            });
        });

        $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
            $("body").toggleClass("sidebar-toggled");
            $(".sidebar").toggleClass("toggled");
            if ($(".sidebar").hasClass("toggled")) {
                $('.sidebar .collapse').collapse('hide');
            };
        });
    </script>
</body>

<!-- รับ socket จาก port 7000 -->
<script id ="socket" src="http://203.154.99.225:7000/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
   
    <script type="text/javascript"  charset="utf-8">
    var licenP;
    var lp = document.getElementById("license_plate");
    var prov;
    var province = document.getElementById("province");
    var time;
    var timeIn = document.getElementById("timeIn");
    var totalT;
    var totaltime = document.getElementById("total_time");
    var imgOut;
    var img_out = document.getElementById("img_out");
    var imgIn;
    var img_in = document.getElementById("img_in");

    var name_ ;
    var name_mem = document.getElementById("name_"); //ชื่อลูกค้า
    var expi_;
    var expi = document.getElementById("expi");
    var memT;
    var memType = document.getElementById("mem_type")

    var price_;
    var price = document.getElementById("price");
    
    var ID_;
    var ID = document.getElementById("ID");

     var socket = io.connect('http://203.154.99.225:7000');
      socket.on('hi',function(data) {
        console.log(data)
        console.log(data.id ,'',data.license_plate)
        console.log(data.price ,'',data.time_in,"",data.time_out,data.total_time)
        licenP= data.license_plate;
        lp.innerHTML = licenP;
        lp.innerHTML = lp.innerHTML;

        prov = data.province;
        province.innerHTML = prov;
        province.innerHTML =  province.innerHTML;

        time= data.time_in;
        timeIn.innerHTML = time;
        timeIn.innerHTML = timeIn.innerHTML;

        totalT = data.total_time;
        totaltime.innerHTML = totalT;
        totaltime.innerHTML = totaltime.innerHTML;

        imgOut = data.img_out;
        img_out.src = imgOut;
        img_out.src = img_out.src;
     
        imgIn = data.img_in;
        img_in.src = imgIn;
        img_in.src = img_in.src;

        /////////////////////////////
        name_ = data.name;
        name_mem.innerHTML = name_;
        name_mem.innerHTML=name_mem.innerHTML;

        expi_ = data.expi;
        expi.innerHTML = expi_;
        expi.innerHTML= expi.innerHTML;

        memT = data.memberType;
        memType.innerHTML = memT;
        memType.innerHTML = memType.innerHTML;

        price_ = data.price;
        price.innerHTML = price_;
        price.innerHTML  =  price.innerHTML ;

        $('#ID').val(data.id);
        $('#amount').val(data.price);
        $('#license').val(data.license_plate);
        $('#time_in').val(data.time_in);
        $('#time_out').val(data.time_out);
        $('#time_total').val(data.total_time);

        // ID_ = data.id;
        // ID.innerHTML = ID_;
        // ID.innerHTML =  ID.innerHTML;
        
       



      });
     

    </script>

</html>