<!DOCTYPE html>
<html lang="en">

<head>
    {% include "comp/includecss.html" %}
    <title>J-Parking Management</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "comp/sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "comp/header.html" %}

                <div class="container-fluid">
                    <div class="row text-center" style="zoom:80%">
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-1.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่จอด</h6>
                                            <span class="h2 text-red">{{total_car_status0}}</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-2.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">จำนวนรถที่ว่าง</h6>
                                            <span class="h2 text-green">{{total_car}}</span> <span class="h6">คัน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{url_for('static', filename='image/ic-parking-3.svg')}}"
                                                width="70">
                                        </div>
                                        <div class="col-7 text-left">
                                            <h6 class="card-title">นาฬิกา</h6>
                                            <span class="h2 text-blue"><span id="timecurrent"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center">
                            <img src="{{ url_for('video_feed', id='0') }}" class="img-calc">
                        </div>
                        <div class="col-lg-6 mt-2" style="zoom: 75%;">
                            <div class="row g-2 mt-2">
                                <div class="col-md-12 text-blue text-center">
                                    <div class="row">
                                        <h5>ป้ายทะเบียนรถ</h5>
                                        <div class="col-2"></div>
                                        <div class="col-8">
                                            <div class="card shadow mb-2" style="border-radius: 34px;background: #f1f1f1;">
                                                <div class="card-body">
                                                    <span class="license-font" id="license_plate"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="province" class="col-form-label text-blue">จังหวัด</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-control" id="province"></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="insert_date" class="col-form-label text-blue">เวลาเข้า</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-control" id="timeIn"></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="car_type" class="col-form-label text-blue">ประเภทรถ</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-control" id="car_type"></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label class="col-form-label text-blue">ค่าจอด</label>
                                            <!-- <input type="number" class="form-control" id="amount" value="{{amount}}" readonly hidden> -->
                                            <input type="hidden" name="original_amount" id="price" >
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-control" id="car_type" ></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-5">
                                    <hr>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="first_name" class="col-form-label text-blue">ชื่อ-นามสกุล</label>
                                            <!-- <p id="datalist" hidden></p> -->
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-control" name="first_name" id="name_"></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="member_type" class="col-form-label text-blue">ประเภทสมาชิก</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-control" id="mem_type" ></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-blue">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="expiry_date" class="col-form-label text-blue">วันที่หมดอายุ</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-control" id="expi" ></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery-->
    <script>
        $(document).ready(function () {
        $(function () {
            var current_page_URL = location.href;
            $("a").each(function () {
            if ($(this).attr("href") !== "#") {
                var target_URL = $(this).prop("href");
                if (target_URL == current_page_URL) {
                    $('nav a').parents('li, ul').removeClass('active');
                    $(this).parent('li').addClass('active');
                    return false;
                    }
                }
            });
        });
    });

    var display = setInterval(function () { Time() }, 0);
        function Time() {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("timecurrent").innerHTML = time;
        }
    </script>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script id ="socket" src="http://203.154.99.225:7003/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
   
    <script type="text/javascript"  charset="utf-8">
    var licenP;
    var lp = document.getElementById("license_plate");
    var prov;
    var province = document.getElementById("province");
    var time;
    var timeIn = document.getElementById("timeIn");
    var carT;
    var car_type = document.getElementById("car_type");
    var name_ ;
    var name_mem = document.getElementById("name_"); //ชื่อลูกค้า
    var expi_;
    var expi = document.getElementById("expi");
    var memT;
    var memType = document.getElementById("mem_type")

    var price_;
    var price = document.getElementById("price");
    
    

     var socket = io.connect('http://203.154.99.225:7003');
      socket.on('car_in',function(data) {
        licenP= data.license_plate;
        lp.innerHTML = licenP;
        lp.innerHTML = lp.innerHTML;

        prov = data.province;
        province.innerHTML = prov;
        province.innerHTML =  province.innerHTML;

        time= data.time_in;
        timeIn.innerHTML = time;
        timeIn.innerHTML = timeIn.innerHTML;
        
        carT = data.car_type;
        car_type.innerHTML = carT;
        car_type.innerHTML =  car_type.innerHTML;
        /////////////////////////////
        name_ = data.name;
        name_mem.innerHTML = name_;
        name_mem.innerHTML=name_mem.innerHTML;

        expi_ = data.expi;
        expi.innerHTML = expi_;
        expi.innerHTML= expi.innerHTML;

        memT = data.memberType;
        memType.innerHTML = memT;
        memType.innerHTML = memType.innerHTML;

        price_ = data.price;
        price.innerHTML = price_;
        price.innerHTML  =  price.innerHTML ;


      });
     

    </script>
</html>