<!DOCTYPE html>
<html lang="en">
<head>
    <title>J-Parking Management</title>
    {% include "comp/includecss.html" %}
<style>
    body {
        background-color: whitesmoke;
    }
    h1, .h1 {
        font-size: calc(1.4rem + 1vw);
    }
    .padding-card {
        padding: 38px 30px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 0.5rem;
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-center mt-4">
            <div class="col-md-6 text-center">
                <div class="mb-3">
                    <img class="img-thumbnail" id="img_in" style="width: 580px; height: 400px;">
                    <h5 class="mt-1 text-center">รูปป้ายทะเบียนขาเข้า</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light padding-card shadow">
                    <div class="col text-center pb-4">
                        <img src="{{url_for('static', filename='image/logo-jpark.svg')}}" width="250">
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="mt-3">ทะเบียนรถ</h4>
                                </div>
                                <div class="col-8">
                                    <h1 class="text-blue" id="license_plate"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="mt-3">เวลาเข้า</h4>
                                </div>
                                <div class="col-8">
                                    <h1 class="text-blue" id="timeIn"></h1>
                                    <p class="fw-normal" id="date_in"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="mt-3">ประเภทสมาชิก</h4>
                                </div>
                                <div class="col-8">
                                    <h1 class="text-blue" id="mem_type"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="mt-3">วันหมดอายุ</h4>
                                </div>
                                <div class="col-8">
                                    <h1 class="text-blue" id="expi"></h1>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
<script id ="socket" src="http://203.154.99.225:7004/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
   
    <script type="text/javascript"  charset="utf-8">
    var licenP;
    var lp = document.getElementById("license_plate");

    var time;
    var timeIn = document.getElementById("timeIn");


    var dIn;
    var dateIn = document.getElementById("date_in");

    var expi_;
    var expi = document.getElementById("expi");

    var memT;
    var memType = document.getElementById("mem_type")

    var imgIn;
    var img_in = document.getElementById("img_in");

     var socket = io.connect('http://203.154.99.225:7004');
      socket.on('monitor_in',function(data) {
        // console.log(data);
        licenP= data.license_plate;
        lp.innerHTML = licenP;
        lp.innerHTML = lp.innerHTML;

        time= data.time_in;
        time = time.split(" ");
        dIn = time[1];
        time = time[0];
        timeIn.innerHTML = time;
        timeIn.innerHTML = timeIn.innerHTML;
 
        dateIn.innerHTML = dIn;
        dateIn.innerHTML = dateIn.innerHTML;

       
        imgIn = data.img_in;
        img_in.src = imgIn;
        img_in.src = img_in.src;

        /////////////////////////////
        
        expi_ = data.expi;
        expi.innerHTML = expi_;
        expi.innerHTML= expi.innerHTML;

        memT = data.memberType;
        memType.innerHTML = memT;
        memType.innerHTML = memType.innerHTML;

       
      });
     

    </script>
</html>