<!DOCTYPE html>
<html lang="en">

<head>
  {% include "comp/includecss.html" %}
  {% include "comp/includedbtables.html" %}
  <title>J-Parking Management</title>
</head>

<style>
  .form-control {
    font-size: 1rem !important;
    text-align: start !important;
  }
</style>

<body id="page-top">
  <div id="wrapper">
    {% include "comp/sidebar.html" %}
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        {% include "comp/header.html" %}

        <div class="container-fluid">
          <div class="row">
            <div class="card">
              <div class="mx-0 my-3">
                <form action="{{ url_for('report') }}" method="GET" enctype="multipart/form-data">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>

                    <input type="text" placeholder="ค้นหา" class="form-control" id="myInputTextField">
                    <select class="form-select" id="mySelect" name="reports" >
                      <option value="">รายงาน</option>
                      <option value="car">รายงานการเข้าออกของรถ</option>
                      <option value="salestax">รายงานภาษีขาย</option>
                      <option value="vat">รายงานรถค้าง</option>
                      <option value="member_income">รายงานรายได้จากสมาชิก</option>

                    </select>
                    <button class="btn btn-primary test" onclick="GetSelectedValue()"><i class="fas fa-stream"></i> แสดงผล</button>
                  </div>

                  <div class="row mt-2">
                    <div class="col-lg-2">
                      <label class="form-label mb-0">เริ่มวันที่</label>
                      <input type="date" class="form-control" id="date_start" name="date_start">
                    </div>
                    <div class="col-lg-2">
                      <label class="form-label mb-0">ถึงวันที่</label>
                      <input type="date" class="form-control" id="date_end" name="date_end">
                    </div>
                    <div class="col-lg-2">
                      <label class="form-label mb-0">ประเภทสมาชิก</label>
                      <select class="form-select" id="search">
                        <option selected>-- ค้นหาสมาชิก --</option>
                        <option value="1">Member</option>
                        <option value="2">VIP</option>
                        <option value="3">Vistor</option>
                      </select>
                    </div>
                    <div class="col-lg mt-4 mb-3">
                      <button type="reset" class="btn-clear-all mr-2">Clear All</button>
                      <span id="exportbtn"></span>
                      <button type="button" class="btn btn-excel" id="export-excel"><i class="far fa-file-excel"></i> Export to Excel</button>
                      <button type="button" class="btn btn-danger" id="export-pdf"><i class="far fa-file-pdf"></i> Export to PDF</button>
                      <button type="button" class="btn btn-primary" id="export-print"><i class="fas fa-print"></i> Print</button>
                    </div>
                  </div>
                </form>

                <div id="areatodisplay"></div>
                <div class="table-responsive">
                  <table class="table table-bordered" id="monitorTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        {% for x in table_header %}
                          <th>{{x}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
  pdfMake.fonts = {
    THSarabun: {
      normal: 'THSarabun.ttf',
      bold: 'THSarabun-Bold.ttf',
      italics: 'THSarabun-Italic.ttf',
      bolditalics: 'THSarabun-BoldItalic.ttf'
    }
  }
			//คำสั่ง Jquery เริ่มทำงาน เมื่อ โหลดหน้า Page เสร็จ 
			$(document).ready(function(){
        // document.title='บริษัท เจนก้องไกล จำกัด';
        $.noConflict();
				//กำหนดให้  Plug-in dataTable ทำงาน ใน ตาราง Html ที่มี id เท่ากับ example
				var table = $('#monitorTable').DataTable({
          "dom": 'Btip',
          "paging": true,
          "autoWidth": true,
          "buttons": [
              'excel',
              { // กำหนดพิเศษเฉพาะปุ่ม pdf
                "extend": 'pdf', // ปุ่มสร้าง pdf ไฟล์
                // "title": function () { return $('#dt-title').val(); },
                "pageSize": 'A4',   // ขนาดหน้ากระดาษเป็น A4   
                "filename": 'report', //ชื่อไฟล์ 
                "customize":function(doc){ // ส่วนกำหนดเพิ่มเติม ส่วนนี้จะใช้จัดการกับ pdfmake
                    // กำหนด style หลัก
                    doc.styles.title = {
                      color: 'black',
                      fontSize: '16',
                      alignment: 'center'
                    }
                    doc.defaultStyle = {
                        font:'THSarabun',
                        fontSize:14,
                        color: 'black',                               
                    }; 
                    var now = new Date();
                    var jsDate = now.getDate()+'/'+(now.getMonth()+1)+'/'+(now.getFullYear()+543)+' '+now.getHours()+':'+now.getMinutes();
                    // console.log(jsDate);
                   
                    doc['footer']=(function(page, pages) {
                      return {
                        columns: [
                          {
                            alignment: 'left',
                            text: ['Update: ', { text: jsDate.toString() }],
                            fontSize: 12,
                          },
                          {
                            alignment: 'right',
                            text: ['page ', { text: page.toString() },	' of ',	{ text: pages.toString() }],
                            fontSize: 12,
									        }
                        ],
                        margin: 20
                      }
                    });
                }
            }, // สิ้นสุดกำหนดพิเศษปุ่ม pdf
              'print'
          ],
					"processing": true,
					"ajax": {
            url: "{{api}}", // "{{api}}{{api_param}} /report/table-car/datatable?date_in=aaaa&date_out=aaa&type=aaa
						dataSrc: "data"
					}
				}
					);

        oTable = $('#monitorTable').DataTable();   //pay attention to capital D, which is mandatory to retrieve "api" datatables' object, as @Lionel said
        $('#myInputTextField').keyup(function(){
            oTable.search($(this).val()).draw() ;
        })
          
        table.buttons().container().appendTo($('#exportbtn'));
        $('#exportbtn').hide();
        $("#export-excel").click(function(){
          $(".dt-button.buttons-excel").click();
        });

        $("#export-pdf").click(function(){
          $(".dt-button.buttons-pdf").click();
        });c

        $("#export-print").click(function(){
          $(".dt-button.buttons-print").click();
        });

			});

    // function calldropdown(mySelect) {
    //   document.getElementById("areatodisplay").innerHTML = mySelect;
    // }

    function GetSelectedValue(){
      var e = document.getElementById("mySelect");
      var result = e.options[e.selectedIndex].value;
      document.getElementById("areatodisplay").innerHTML = result;
    }


    // ควบคุม Sidebar
    $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
      $("body").toggleClass("sidebar-toggled");
        $(".sidebar").toggleClass("toggled");
          if ($(".sidebar").hasClass("toggled")) {
            $('.sidebar .collapse').collapse('hide');
          };
      });

      // Close any open menu accordions when window is resized below 768px
      $(window).resize(function () {
        if ($(window).width() < 768) {
          $('.sidebar .collapse').collapse('hide');
      };
      // Toggle the side navigation when window is resized below 480px
        if ($(window).width() < 480 && !$(".sidebar").hasClass("toggled")) {
          $("body").addClass("sidebar-toggled");
          $(".sidebar").addClass("toggled");
          $('.sidebar .collapse').collapse('hide');
        };
      });

      // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
      $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function (e) {
        if ($(window).width() > 768) {
          var e0 = e.originalEvent,
          delta = e0.wheelDelta || -e0.detail;
          this.scrollTop += (delta < 0 ? 1 : -1) * 30;
          e.preventDefault();
        }
      });

      // Scroll to top button appear
      $(document).on('scroll', function () {
        var scrollDistance = $(this).scrollTop();
          if (scrollDistance > 100) {
            $('.scroll-to-top').fadeIn();
          } else {
            $('.scroll-to-top').fadeOut();
          }
      });

      // Smooth scrolling using jQuery easing
      $(document).on('click', 'a.scroll-to-top', function (e) {
        var $anchor = $(this);
        $('html, body').stop().animate({
          scrollTop: ($($anchor.attr('href')).offset().top)
        }, 1000, 'easeInOutExpo');
          e.preventDefault();
      });
  </script>
</body>

</html>