<!DOCTYPE html>
<html lang="en">

<head>
  {% include "comp/includecss.html" %}
</head>

<style>
  .form-control {
    font-size: 1rem !important;
    text-align: start !important;
  }
</style>

<body id="page-top">
  <div id="wrapper">
    {% include "comp/sidebar.html" %}
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        {% include "comp/header.html" %}

        <div class="container-fluid">
          <div class="row">
            <div class="card">
              <div class="mx-0 my-3">
                  <form method="POST" action="/report" method="POST" enctype="multipart/form-data">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                      <input type="text" placeholder="ค้นหา" class="form-control">
                      <select class="form-select" id="mySelect" name="reports">
                        <option value="1">รายงาน</option>
                        <option value="2">การเข้าออกของรถ</option>
                        <option value="3">รายงานภาษีขาย</option>
                        <option value="4">รถค้าง</option>
                      </select>
                      <button class="btn btn-primary test"><i class="fas fa-stream"></i> แสดงผล</button>
                    </div>

                    <div class="row mt-2">
                      <div class="col-lg-2">
                        <label class="form-label mb-0">เริ่มวันที่</label>
                        <input type="date" class="form-control" id="date_start">
                      </div>
                      <div class="col-lg-2">
                        <label class="form-label mb-0">ถึงวันที่</label>
                        <input type="date" class="form-control" id="date_end">
                      </div>
                      <div class="col-lg-2">
                        <label class="form-label mb-0">ประเภทสมาชิก</label>
                        <select class="form-select" id="search">
                          <option selected>-- ค้นหาสมาชิก --</option>
                          <option value="1">Member</option>
                          <option value="2">VIP</option>
                          <option value="3">Vistor</option>
                        </select>
                      </div>
                      <div class="col-lg-6 mt-4">
                        <a href="#" class="m-2">Clear All</a>
                        <button class="btn btn-excel"><i class="far fa-file-excel"></i> Export to Excel</button>
                        <button class="btn btn-danger"><i class="far fa-file-pdf"></i> Export to PDF</button>
                        <button class="btn btn-primary"><i class="fas fa-print"></i> Print</button>
                      </div>
                    </div>
                  </form>

                  <!-- <div id="result">
                    {% if report_list is defined %}
                        You have selected: {{ report_list }}
                    {% endif %}
                  </div> -->

              </div>
              <div class="table-responsive" style="height: 500px;overflow-x: scroll;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">ลำดับ</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">ประเภท</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">ทะเบียนรถ</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">เวลาเข้า</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">เจ้าหน้าที่ขาเข้า</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">เวลาออก</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">รายได้</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">ส่วนลด</th>
                            <th scope="col" class="sticky-top" style="background: white;min-width: 10vw;">เจ้าหน้าที่ขาออก</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>
                            
                            
                        </tr>
                    </tbody>
                    
                </table>
                </div>
          </div>


          </div>

        </div>
      </div>
    </div>
  </div>

  
  <script>
    $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
      $("body").toggleClass("sidebar-toggled");
      $(".sidebar").toggleClass("toggled");
      if ($(".sidebar").hasClass("toggled")) {
        $('.sidebar .collapse').collapse('hide');
      };
    });

    // Close any open menu accordions when window is resized below 768px
    $(window).resize(function () {
      if ($(window).width() < 768) {
        $('.sidebar .collapse').collapse('hide');
      };

      // Toggle the side navigation when window is resized below 480px
      if ($(window).width() < 480 && !$(".sidebar").hasClass("toggled")) {
        $("body").addClass("sidebar-toggled");
        $(".sidebar").addClass("toggled");
        $('.sidebar .collapse').collapse('hide');
      };
    });

    // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
    $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function (e) {
      if ($(window).width() > 768) {
        var e0 = e.originalEvent,
          delta = e0.wheelDelta || -e0.detail;
        this.scrollTop += (delta < 0 ? 1 : -1) * 30;
        e.preventDefault();
      }
    });

    // Scroll to top button appear
    $(document).on('scroll', function () {
      var scrollDistance = $(this).scrollTop();
      if (scrollDistance > 100) {
        $('.scroll-to-top').fadeIn();
      } else {
        $('.scroll-to-top').fadeOut();
      }
    });

    // Smooth scrolling using jQuery easing
    $(document).on('click', 'a.scroll-to-top', function (e) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: ($($anchor.attr('href')).offset().top)
      }, 1000, 'easeInOutExpo');
      e.preventDefault();
    });
  </script>
</body>

</html>