<!DOCTYPE html>
<html lang="en">

<head>
    <title>แสดงจำนวนรถที่ว่าง - JPark</title>
    {% include "comp/includecss.html" %}
</head>

<style>
    .bg-red {
        background: red;
    }

    .bg-green {
        background: green;
    }
</style>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid">
                    <div class="row text-center">
                        <!-- Content Column -->
                        <div class="col-lg-12">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4 bg-{{colored.get('color')}}">
                                <div class="card-body">
                                    <h1 class="header-title">จำนวนรถที่ว่าง</h1>
                                    <div class="card m-3">
                                        <div class="card-body">
                                            <h2 class="text-black body-title">{{ diff }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>