<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <body>
        <div class="col-lg-12 text-center">
            <form class="form-inline justify-content-center m-3">
                <button type="button" class="btn btn-primary-jpark btn-sm mx-2 w-30">
                    ยกไม้
                </button>
                <a href='{{ url_for('invoice') }}' target="_blank" type="button"
                    class="btn btn-primary-jpark btn-sm mx-2 w-30">
                    พิมพ์ใบเสร็จ
                </a>
                <button type="button" class="btn btn-primary-jpark btn-sm mx-2 w-30">
                    ออก
                </button>
                <button type="button" class="btn btn-success btn-sm mx-2 w-30">กล้อง 1</button>
                <button type="button" class="btn btn-success btn-sm mx-2 w-30">กล้อง 2</button>
                <button type="button" class="btn btn-success btn-sm mx-2 w-30">กล้อง 3</button>
                <button type="button" class="btn btn-danger btn-sm mx-2 w-30">ไม้กั้น 1</button>
                <button type="button" class="btn btn-danger btn-sm mx-2 w-30">ไม้กั้น 2</button>
                <button type="button" class="btn btn-danger btn-sm mx-2 w-30">ไม้กั้น 3</button>
            </form>
        </div>
    </body>
</body>

</html>