<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS Receipt : JPARK</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400&display=swap'); */
    @font-face {
        font-family: 'Cordia New';
        src: {
                {
                url_for('static', filename='fonts/Cordia New Regular.ttf')
            }
        };
    }

    @font-face {
        font-family: 'Cordia New';
        font-weight: bold;
        src: {
                {
                url_for('static', filename='fonts/Cordia New Bold.ttf')
            }
        };
    }

    body {
        font-family: 'Cordia New' !important;
    }

    @page {
        size: 58mm 91mm
    }

    body.receipt .sheet {
        width: 58mm;
        height: 91mm
    }

    @media print {
        body.receipt {
            width: 58mm
        }
    }

    .text-header {
        font-size: 1rem;
        margin-bottom: 0.15rem !important;
    }
</style>
    <div id="invoice-POS" style="zoom: 130%;">
        <center id="top">
            <div class="logo"></div>
            <div class="info">
                <p class="mt-2 mb-0">บริษัท เจนก้องไกล จำกัด</p>
                <p class="mb-2">(สาขาสวนรถไฟ)</p>
            </div>
            <!--End Info-->
        </center>
        <!--End InvoiceTop-->
        <div id="mid">
            <div class="info">
                <!-- <h2>Contact Info</h2> -->
                <p class="text-center text-header">
                    เลขที่ 448 ถนนพระราม 1 แขวงปทุมวัน <br>
                    เขตปทุมวัน กรุงเทพฯ 10330 <br>
                </p>
            </div>
        </div>
        <div id="mid" >
            <!-- <h2>Contact Info</h2> -->
            <p class="text-center text-header">
                ใบเสร็จรับเงิน /ใบกำกับภาษีอย่างย่อ<br>
            </p>
            <p class="text-center text-header">
                RECEIPT/TEX INVOICE(ABB) (VAT INCLUDED)<br>
            </p>
        </div>
        <!--End Invoice Mid-->

        <div id="bot headOrder1">
            <div id="table">
                <table>
                    <tr>
                        <td class="tableitem"></td>
                        <td class="tableitem"></td>
                        <td class="tableitem"></td>
                    </tr>
                    <tr>
                        <td class="tableitem">
                            <p class="itemtext">TAX ID :</p>
                        </td>
                        <td class="tableitem"></td>
                        <td class="tableitem">
                            <p class="itemtext">{{tax_id}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableitem">
                            <p class="itemtext">POS ID. :</p>
                        </td>
                        <td class="tableitem"></td>
                        <td class="tableitem">
                            <p class="itemtext">{{pos_id}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableitem">
                            <p class="itemtext">Cashier :</p>
                        </td>
                        <td class="tableitem"></td>
                        <td class="tableitem">
                            <p class="itemtext">{{session['username']}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableitem">
                            <p class="itemtext">วันที่ Date :</p>
                        </td>
                        <td class="tableitem"></td>
                        <td class="tableitem">
                            <p class="itemtext">{{date_now}}</p>
                        </td>
                    </tr>
                    <tr class="service">
                        <td class="tableitem">
                            <p class="itemtext">เลขที่ Receipt No. :</p>
                        </td>
                        <td class="tableitem"></td>
                        <td class="tableitem">
                            <p class="itemtext">{{receipt_no}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!--End Table-->
            <p class="text-center mt-2 mb-1" id="headOrder2">ค่าบริการจอดรถ Parking Fee</p>
            <table>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">ทะเบียนรถ:</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{license_plate}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">เวลาเข้า :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{time_in}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">เวลาออก :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{time_out}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">ระยะเวลาเข้าออก :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{total_time}} Hrs.</p>
                    </td>
                </tr>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">ค่าจอดรถ :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{amount}} Baht</p>
                    </td>
                </tr>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">ค่าปรับ :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{fines}} Baht</p>
                    </td>
                </tr>
                <tr class="tabletitle">
                    <td class="tableitem">
                        <p class="itemtext">ส่วนลด :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{discount}} Baht</p>
                    </td>
                </tr>
                <tr class="tabletitle">
                    <td class="tableitem">
                        <p class="itemtext">จำนวนเงินที่ได้รับ:</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{receieve}} Baht</p>
                    </td>
                </tr>
                <tr class="tabletitle">
                    <td class="tableitem">
                        <p class="itemtext">เงินทอน:</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">{{changess}} Baht</p>
                    </td>
                </tr>
                <tr>
                    <td class="tableitem">
                        <p class="itemtext">ช่องทางชำระเงิน :</p>
                    </td>
                    <td class="tableitem"></td>
                    <td class="tableitem">
                        <p class="itemtext">เงินสด</p>
                    </td>
                </tr>
            </table>
            <div id="legalcopy">
                <p class="legal text-center"><strong>ขอบคุณที่ใช้บริการ Thank you</strong>
                </p>
            </div>
        </div>
        <!--End InvoiceBot-->
    </div>
    <!--End Invoice-->

</html>
<script>
    window.onload =  function() {
        window.print();
        window.onafterprint = function(event) { window.close() ; };
        
    }
</script>