<head>
  {% include "comp/includecss.html" %}
  <link rel="stylesheet" type="text/css" src="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sticky-top h-100" id="accordionSidebar">
  
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-text mx-1 ml-4">
        <img src="{{url_for('static', filename='image/logoart-jpark-white-02.svg')}}" class="mb-1" width="55">
        <img src="{{url_for('static', filename='image/logoart-jpark-white-01.svg')}}" width="120">

      </div>
      <button id="sidebarToggle" style="border-radius: 7px;"></button>
    </a>


    <div class="sidebar-heading">
      <i class="fas fa-user"></i>
      <span>พนักงาน</span>
    </div>
    <!-- Nav Item - car-in -->
    <li class="nav-item">
      <a class="nav-link" href="car-in">
        <i class="fas fa-car"></i>
        <span>ป้อมขาเข้า</span></a>
    </li>
    <!-- Nav Item - car-out -->
    <li class="nav-item">
      <a class="nav-link" href="car-out1">
        <i class="fas fa-car"></i>
        <span>ป้อมขาออก 1</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="car-out2">
        <i class="fas fa-car"></i>
        <span>ป้อมขาออก 2</span></a>
    </li>
    <!-- Nav Item - transaction -->
    <li class="nav-item">
      <a class="nav-link" href="transaction">
        <i class="fas fa-fw fa-table"></i>
        <span>รายการรถเข้า-ออกสะสม</span></a>
    </li>
    <!-- Nav Item - member-detail -->
    <li class="nav-item">
      <a class="nav-link" href="member-detail">
        <i class="fas fa-fw fa-table"></i>
        <span>ข้อมูลสมาชิก</span></a>
    </li>
    <!-- Nav Item - payment -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="payment">
        <i class="fas fa-fw fa-money"></i>
        <span>Payment</span></a>
    </li> -->

    <div class="sidebar-heading">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </div>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="showled" target="_blank">
        <i class="fas fa-tv"></i>
        <span>แสดงจำนวน</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="monitor-in" target="_blank">
        <i class="fas fa-tv"></i>
        <span>Monitor-In</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="monitor-out" target="_blank">
        <i class="fas fa-tv"></i>
        <span>Monitor-Out</span></a>
    </li>
    <!-- Nav Item - report -->
    <li class="nav-item">
      <li class="nav-item">
          <a class="nav-link collapsed" href="report" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>
              <span>รายงานทั้งหมด</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="#">รายงานแคชเชียร์</a>
                  <a class="collapse-item" href="#">รายงานธุรการ</a>
                  <a class="collapse-item" href="#">รายงานผู้จัดการ</a>
                  <a class="collapse-item" href="#">รายงานผู้บริการ</a>
              </div>
          </div>
      </li>
    </li>

  </ul>

  <script>
    $(document).ready(function () {
      $(function () {
        var current_page_URL = location.href;
        $("a").each(function () {
          if ($(this).attr("href") !== "#") {
            var target_URL = $(this).prop("href");
            if (target_URL == current_page_URL) {
              $('nav a').parents('li, ul').removeClass('active');
              $(this).parent('li').addClass('active');
              return false;
            }
          }
        });
      });
    });

    $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
      $("body").toggleClass("sidebar-toggled");
      $(".sidebar").toggleClass("toggled");
      if ($(".sidebar").hasClass("toggled")) {
        $('.sidebar .collapse').collapse('hide');
      };
    });

    // Close any open menu accordions when window is resized below 768px
    // $(window).resize(function () {
    //   if ($(window).width() < 768) {
    //     $('.sidebar .collapse').collapse('hide');
    //   };

    //   // Toggle the side navigation when window is resized below 480px
    //   if ($(window).width() < 480 && !$(".sidebar").hasClass("toggled")) {
    //     $("body").addClass("sidebar-toggled");
    //     $(".sidebar").addClass("toggled");
    //     $('.sidebar .collapse').collapse('hide');
    //   };
    // });

    // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
    // $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function (e) {
    //   if ($(window).width() > 768) {
    //     var e0 = e.originalEvent,
    //       delta = e0.wheelDelta || -e0.detail;
    //     this.scrollTop += (delta < 0 ? 1 : -1) * 30;
    //     e.preventDefault();
    //   }
    // });

    // Scroll to top button appear
    $(document).on('scroll', function () {
      var scrollDistance = $(this).scrollTop();
      if (scrollDistance > 100) {
        $('.scroll-to-top').fadeIn();
      } else {
        $('.scroll-to-top').fadeOut();
      }
    });

    // Smooth scrolling using jQuery easing
    $(document).on('click', 'a.scroll-to-top', function (e) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: ($($anchor.attr('href')).offset().top)
      }, 1000, 'easeInOutExpo');
      e.preventDefault();
    });
  </script>
</body>

